#zSlider {
    margin: 0px auto;
    /* width: 1200px; */
    overflow: hidden;
}

#picshow {
    position: relative;
}

#picshow,
#picshow_img {
    width: 880px;
    height: 440px;
    overflow: hidden;
    float: left;
}

#picshow_img li {
    width: 880px;
    height: 440px;
    overflow: hidden;
    float: left;
    display: none;
}

#picshow_img img {
    width: 880px;
    height: 440px;
}

#picshow_tx {
    left: 0px;
    width: 880px;
    bottom: 0px;
    position: absolute;
    height: 90px;
    overflow: hidden;
}

#picshow_tx li {
    background: url(../images/picshow_bg.png) repeat;
    padding: 10px 30px;
    height: 70px;
    color: #fff;
    display: none;
}

#picshow_tx li a {
    color: #fff;
}

#picshow_tx li a:hover {
    text-decoration: underline;
}

#picshow_tx li h3 {
    margin: 13px 0;
}

#picshow_tx li p {
    color: #ccc;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

#select_btn {
    position: absolute;
    top: 58px;
    left: 598px;
    color: rgb(114, 77, 68);
    font-size: 16px;
    font-family: "å¾®è½¯é›…é»‘";
}

#select_btn>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 400px;
}

#select_btn li {
    flex: 1;
    /* padding: 9px 11px 0px 9px; */
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255) !important;
    cursor: pointer;
    transition: all .7s ease 0s;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    padding-top: 19px;
    background-color: rgba(255, 255, 255, .8);
}

#select_btn li:hover {
    background-color: rgba(255, 255, 255, .2);
}

#select_btn li a:hover {
    color: aliceblue
}

#select_btn li.current {
    background-color: rgba(255, 255, 255, .2);
}

#select_btn li.current a {
    color: aliceblue
}


/* #select_btn li.current:hover {
    background-color: #292929;
} */

#select_btn a {
    color: rgb(114, 77, 68);
}

#select_btn img {
    padding: 2px;
    border: 1px solid #ccc;
    width: 70px;
    height: 49px;
    margin-right: 10px;
    float: left;
}

#select_btn .select_text {
    height: 20px;
    font: bold 13px/16px 'Microsoft YaHei';
    overflow: hidden;
    display: block;
}

#select_btn .select_text:hover {
    text-decoration: underline;
}

#select_btn .select_date {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    display: block;
}

#foot_bm a,
#foot_bm,
p,
p a {
    color: #666;
}