
.father {
    position: fixed;
    right: 15px;
    top: 80px;
    width: 62px;
    height: 378px;
    background: url("../images/aside_bg.png") no-repeat center;
    background-size: 62px 378px;
}
.box {
    position: absolute;
    top: 58px;
    width: 62px;
    height: 282px;
}
.box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 62px;
    height: 282px;
    font-size: 12px;
}

.box ul li {
    width: 100%;
    float: left;
    text-align: center;
}
.box ul li img {
    width: 50%;
    height: 60%;
}
.box ul .kefu {
    position: relative;
}
.box ul .kefu span {
    position: absolute;
    right: 12px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
}